@media (min-width: 1400px) {
  .container{
    max-width: 1140px;
  }
}

.font-weight-500{
  font-weight: 500;
}
/* Navigation menu */
.navbar-brand{
  font-family: 'Montserrat';
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
}
/* /Navigation menu */

/* Home */
.home{
  background-color: #F0F5F9;
  padding: 150px 100px 0;
}
/* /Home */
