@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

.font-weight-500 {
  font-weight: 500;
}
/* Navigation menu */
.navbar-brand {
  font-family: "Montserrat";
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
}
/* /Navigation menu */

/* Home */
.home {
  background-color: #f0f5f9;
  padding: 172px 100px 100px 100px;
}
/* /Home */

/* About */
.about__card-1 {
  background-color: #fff2e5;
}

.about__card-2 {
  background-color: #f8f9fa;
}

.about__card-3 {
  background-color: #f0f5f9;
}

.about__card-1 > img,
.about__card-2 > img,
.about__card-3 > img {
  width: 80px;
}
/* /About */

/* Features */
.features__container{
  background-color: #f0f5f9;
}
.features__container .list-unstyled img{
  width: 20px;
}
/* /Features */
